@import "base";
/* ------------------------------------- Reset css -------------------------------------------- */
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video { 
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body, html {
    height: 100%
}
img,fieldset {border:none;}
input[type="submit"], button {cursor:pointer;}
input[type='submit']::-moz-focus-inner{padding:0;border:0}
textarea {overflow: auto;}
input, button {
    margin: 0;
    padding: 0;
    border: 0;
}
input, textarea, select,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none;
}
ul,ol {
    list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
    display: block;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
*{-webkit-text-size-adjust: none; }
/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
::-webkit-selection {
    background: #c2cedd;
}
::selection {
    background: #c2cedd;
}
body{
    padding: 0 10px;
    color: #000;
    @include osl;
    font-size: 16px;
    line-height: 1.3;
    background: #f3f2f2;
}
a{
    color: #355e8d;
    &:hover{
        text-decoration: none;
        border-bottom: 0;
    }
}
.l-layout {
    margin: 0 auto -76px;
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background: #fff;
}
.push {
    clear: both;
    height: 76px;
}
.wrapper {
    overflow: hidden;
}
.wrap {
    @extend %clr;
}
.clr {
    clear: both;
}
/* ------------------------------------ //END Main styles --------------------------------------- */
 
/* ----------------------------------------- Header --------------------------------------------- */
.header {
    padding: 10px 0 5px;
    background: #f3f2f2;
    @include border-radius(2px);
} 
.header__wrap {
    padding: 13px 29px 7px 34px;
    background: #fff;
    @include box-shadow(0 0 4px rgba(0,0,0,.4));
}
.logo {
    float: left;
    margin-right: 30px;
    a {
        display: block;
        @include sized-sprite($icons, logo);
    }
}
.nav-wrap {
    float: left;
    padding-top: 8px;
}
.lang {
    margin-bottom: 11px;
    color: #FFF;
    font-size: 11px;
    a {
        display: inline-block;
        margin-right: 16px;
        @include osr;
        text-decoration: none;
        border-bottom: 2px solid #d8dee6;
        &:hover {
            border-bottom: 0;
        }
    }
    .active {
        color: #7d7d7d;
        border-bottom: 0;
    }
}
.nav {
    display: inline-block;
    li {
        display: inline-block;
        margin-right: 23px;
        font-size: 22px;
    }
    a {
        text-decoration: none;
        border-bottom: 1px solid #c2cedd;
        &:hover {
            border-bottom: 0;
        }
    }
    .active {
        a {
            color: #8e8e8e;
            border-bottom: 0;
            font-size: 18px;
        }
    }
}
.rss { 
    display: inline-block;
    margin-left: 7px;
    vertical-align: middle;
    @include sized-sprite($icons, rss);
}
.header__search {
    float: right;
    padding-top: 3px;
}
.search {
    position: relative;
    display: inline-block;
    margin: 13px 26px 0 0;
    width: 350px;
    vertical-align: top;
}
.search__text {
    padding: 0 40px 0 10px;
    width: 298px;
    height: 33px;
    color: #000;
    font-size: 14px;
    font-family: Arial, sans-serif;
    border: 1px solid #aaabab;
    @include placeholder(#b8b8b8, Arial); 
}
.search__submit {
    position: absolute;
    top: 9px;
    right: 0;
    padding-right: 30px;
    @extend %hide-text;
    @include sized-sprite($icons, glass);
} 
.drop-list {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 33px;
    left: 0;
    padding: 7px 10px 5px;
    width: 400px;
    border: 1px solid #aaabab;
    font-size: 14px;
    background: #fff;
    li { 
        margin-bottom: 5px;
        cursor: pointer;
    }
    i {
        font: normal 11px Arial;
        color: #606060;
    }
    b {
        color: #c20e16;
        font-weight: normal;
    }
}
.logo-map {
    display: inline-block;
    font-size: 11px;
    text-decoration: none;
    color: #555;
    font-family: Arial, sans-serif;
    @include sized-sprite($icons, logo-map);
}

/* -------------------------------------- //END Header ------------------------------------------ */

/* ----------------------------------------- sidebar -------------------------------------------- */
.sidebar {
    float: left;
    padding: 10px 7px 7px 11px;
    width: 261px;
}

.sidebar__title {
    padding-bottom: 8px;
    font-size: 24px;
    font-weight: normal;
    cursor: pointer;
    i {
        float: right;
        margin-top: 6px;
        @include sized-sprite($icons, plus);
    }
    .active {
        @include sized-sprite($icons, minus);
    }
}

.filter {
    //display: none;
    font: normal 12px Arial;
    li {
        margin-right: 6px;
        padding: 5px 0 5px;
        color: #555;
        cursor: pointer;
        font-size: 12px;
        border-top: 1px solid #e2e2e2;
        @include user-select(none);
        ul {
            display: none;
            padding-top: 8px
        }
        li {
            margin: 0;
            border: 0;
            padding: 5px 0 5px 16px;
        }
    }
    .active-state {
        font-size: 30px;
    }
    input {
        margin-right: 9px;
    }
    i { 
        display: inline-block;
        margin-right: 4px;
    }
    label {
        cursor: pointer;
    }
}
.filter__more {
    position: relative;
    display: inline-block;
    width: 11px;
    height: 11px;
    text-align: center;
    margin: 0 5px 0 4px;
    i {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        @include sized-sprite($icons, plus2);
    }
    
}
.filter__more-act {
    i {
        top: 5px;
        @include sized-sprite($icons, minus2);
    }
}
.filter__extend-check {
    label {
        font-weight: bold;
        color: #50739c;
    } 
    li {
        label {
            color: #555;
            font-weight: normal;
        } 
        
    }
}
.icon-street {@include sized-sprite($icons, street);}
.icon-square {@include sized-sprite($icons, square);}
.icon-park {@include sized-sprite($icons, park);}
.icon-bridge {@include sized-sprite($icons, bridge);}
.icon-gallery {@include sized-sprite($icons, gallery);}
.icon-place {@include sized-sprite($icons, place);}
.icon-palace {@include sized-sprite($icons, palace);}
.icon-fountain {@include sized-sprite($icons, fountain);}
.icon-secret {@include sized-sprite($icons, secret);}
.icon-hotel {@include sized-sprite($icons, hotel);}
.icon-trees {@include sized-sprite($icons, trees);}
.icon-clock {@include sized-sprite($icons, clock);}
.icon-famous {@include sized-sprite($icons, famous);}
.icon-embassy {@include sized-sprite($icons, embassy);}
.icon-lib {@include sized-sprite($icons, lib);}
.icon-med {@include sized-sprite($icons, med);}

.scroll-pane {
    overflow: auto; 
    outline: none;
    height: 600px;
}

/* --------------------------------------- //END sidebar ---------------------------------------- */

/* ------------------------------------- Independent blocks -------------------------------------- */
.main {
     
}
/* ---------------------------------- //END Independent blocks ----------------------------------- */

/* ----------------------------------------- Footer ---------------------------------------------- */
.footer {
    position: relative;
    height: 76px;
    line-height: 76px;
    overflow: hidden;
    font-size: 12px;
    color: #686868;
    background: #f3f2f2; 
    a {
        color: #686868;
    }
    .copy {
        float: left;
    }
    .support {
        float: right;
    }
}
/* -------------------------------------- //END Footer ------------------------------------------- */
// .test {
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 1196px;
//     height: 750px;
//     background: url(../img/test.png) 0 0 no-repeat;
//     opacity: .7;
// }