@import "base";
.content {
    padding: 11px 35px 20px;
    overflow: hidden;
    font: normal 14px Arial, sans-serif;
    h1 {
        margin-bottom: 18px;
        color: #555;
        font-size: 30px;
        font-weight: normal;
        @include osl;
    }
    h2 {
        margin: 6px 0 23px;
        color: #555;
        font-size: 22px;
        font-weight: normal;
        @include osl;
    }
    .title-l-2 {
        margin: 6px 0 13px;
        font-size: 18px;
        a {
            text-decoration: none;
            border-bottom: 1px solid #C2CEDD;
            &:hover{
                border-bottom: 1px solid #b23622;
            }
        }
    }
    .subTitle-l-2 {
        font-size:11px;
    }
    p {
        margin-bottom: 12px;
    }
    .about-us {
        float: left;
        width: 60%;
        margin-right: 5%;
    }
    .more-maps {
        float: left;
        width: 35%;
    }
}
.about {
    font-size: 16px;
    line-height: 1.3;
}
.filter_inner {
    li {
        .active {
            position: relative;
            background: #e7e7e7;
            &:after {
                content: "";
                position: absolute;
                right: 11px;
                top: 50%;
                margin-top: -5px;
                @include sized-sprite($icons, arr);
            }
            i {
                @extend %gray;
            }
        }
    }
    .filter__extend-check {
        font-weight: bold;
        color: #50739c;
        li {
            font-weight: normal;
        }
    }
}
// Catalog

.catalog {
    font-size: 11px;
    font-family: Arial;
    color: #8a8a8a;
    a {
        font-size: 12px;
    }
    p {
        margin: 4px 0 12px;
    }
}
.catalog-col {
    width: 45%;
    float: left;
    margin-right: 5%;
    font-size: 11px;
    font-family: Arial;
    color: #8a8a8a;
    a {
        font-size: 12px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    p {
        margin: 4px 0 12px;
    }
    li {
        margin-bottom: 4px;
    }
}
.catalog-section {
    li {
        margin-bottom: 19px;
    }
    a {
        font-size: 18px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.catalog-item {
    padding-right: 5px;
    h3 {
        font-size: 18px;
    }
}
.place {
    float: left;
    width: 55%;
}
.place__map {
    margin: 17px 0;
}
.gallery {
    float: right;
    width: 42%;
}
.place-descr {
    margin-bottom: 15px;
    color: #8c8c8c;
}
.gallery-photos {
    li {
        display: inline-block;
        margin: 0 17px 15px 0;
    }
    img {
        display: block;
    }
}
.galler__more {
    margin: 15px 10px 0 0;
    //padding: 15px 0;
    border-top: 1px solid #f0f0e7;
    li {
        //margin-bottom: 6px;
        border-bottom: 1px solid #f0f0e7;
        padding:10px 0 10px 0;
        &:last-child {
            border-bottom:0;
        }
    }
    a {
        font-size: 12px;
        text-decoration: none;
    }
}
.gallery__meta {
    color: #848484;
    font-size: 11px;
    border-top: 1px solid #f0f0e7;
    li {
        padding: 10px 0 10px 0;
    }
}
.catalog-wrap {
    margin-bottom: 20px;
    clear: both;
    border-top: 1px solid #bebe98;
    @extend %clr;
}
.comment-counter {
    display: block;
    margin: 30px 0 22px;
    font-size: 12px;
    color: #50739c;
    cursor: pointer;
    i {
        display: inline-block;
        margin-left: 10px;
        @include sized-sprite($icons, arr2);
        vertical-align: middle;
    }
}
.comment {
    display: none;
    padding-bottom: 10px;
    li {
        padding: 16px 0 10px;
        border-top: 1px solid #bebe98;
        overflow: hidden;
    }
    #customBtn {
        display: inline-block;
        color: #df4a32;
        cursor: pointer;
        width: 460px;
        font-family: "open_sanslight",Arial,sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        //background:url(file:///C|/Users/dima/Desktop/sdf) no-repeat;

        &:hover {
            cursor: pointer;
            span.icon {
                background: url('/_img/g-btn-hover.png') 0 50% no-repeat;
            }
            span.buttonText {
                color: #e94a2f;
                border-bottom:1px solid #e5a59c;
            }
        }
        span.label {
            font-weight: bold;
        }
        span.icon {
            background: url('/_img/g-btn-base.png') 0 50% no-repeat;
            display: inline-block;
            vertical-align: middle;
            width: 54px;
            height: 54px;
        }
        span.buttonText {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
            border-bottom:1px solid #fff;
        }
    }
}
.comment__user {
    float: left;
    margin-right: 12px;
    width: 36px;
    height: 36px;
    overflow: hidden;
    img {
        display: block;
    }
}
.comment__body {
    overflow: hidden;
    font-size: 13px;
}
#commentBtn {
   border: 1px solid #CCCCCC;
   background: #EEEEEE;
   background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE));
   background: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
   background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
   background: -ms-linear-gradient(top, #FFFFFF, #EEEEEE);
   background: -o-linear-gradient(top, #FFFFFF, #EEEEEE);
   background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
   padding: 9px 22px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #FFFFFF 0 1px 0;
   color: #333333;
   font-size: 16px;
   font-family: Arial, Helvetica, Serif;
   font-weight: bold;
   text-decoration: none;
   vertical-align: middle;
   margin:12px 0 10px 48px;
   &:hover {
       border: 1px solid #CCCCCC;
       text-shadow: #FFFFFF 0 1px 0;
       background: #EEEEEE;
       background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE));
       background: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
       background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
       background: -ms-linear-gradient(top, #FFFFFF, #EEEEEE);
       background: -o-linear-gradient(top, #FFFFFF, #EEEEEE);
       background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
       color: #333333;
       text-decoration: none;
    }
    &:active {
       text-shadow: #FFFFFF 0 1px 0;
       border: 1px solid #CCCCCC;
       background: #FFFFFF;
       background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#EEEEEE));
       background: -webkit-linear-gradient(top, #EEEEEE, #FFFFFF);
       background: -moz-linear-gradient(top, #EEEEEE, #FFFFFF);
       background: -ms-linear-gradient(top, #EEEEEE, #FFFFFF);
       background: -o-linear-gradient(top, #EEEEEE, #FFFFFF);
       background-image: -ms-linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%);
       color: #333333;
    }
}

.comment__meta {
    display: block;
    margin-bottom: 6px;
    color: #565656;
    font-size: 11px;
    span {
        display: inline-block;
        margin: 0 7px;
    }
    a {
        color: #565656;
        text-decoration: none;
    }
}

.authoriz-link {
    display: inline-block;
    position: relative;
    margin: 13px 0 0 42px;
    height: 33px;
    line-height: 33px;
    color: #c83e2a;
    font-size: 18px;
    @include osl;
    i {
        position: absolute;
        left: -42px;
        top: 0;
        @include sized-sprite($icons, g);
    }
}

// streets
.letters {
    overflow: hidden;
    margin: 0 0 36px -15px;
    li {
        float: left;
        margin-right: 2px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        @include osr;
        font-size: 18px;
        color: #767676;
        cursor: pointer;
        text-transform: uppercase;
        &:hover {
            color: #000;
        }
    }
    .active {
        color: #000;
        background: #e7e7e7;
    }
}
.catalog-street {
    overflow: hidden;
    ul {
        float: left;
        margin-left: 2.5%;
        width: 23%;
        &:first-child {
            margin-left: 0;
        }
    }
    li {
        margin-bottom: 15px;
    }
    a {
        font-size: 12px;
        text-decoration: none;
    }
}

.filter_street {
    height: 750px;
    li {
        padding: 7px 0 7px 25px;
    }
    .active {
        position: relative;
        background: #e7e7e7;
        &:after {
            content: "";
            position: absolute;
            right: 11px;
            top: 50%;
            margin-top: -5px;
            @include sized-sprite($icons, arr);
        }
        i {
            @extend %gray;
        }
    }
}
.street {
    h2 {
        margin-bottom: 6px;
    }
    ul {
        margin-bottom: 36px;
    }
    li {
        margin-bottom: 5px;
    }
    a {
        text-decoration: none;
    }
} 
.street__left {
    margin-right: 10%;
    width: 55%;
    float: left;
}
.street__right {
    width: 30%;
    float: left;
}
