@font-face { font-family: 'open_sanslight'; src: url("../fonts/opensans-light-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'open_sanslight_italic'; src: url("../fonts/opensans-lightitalic-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'open_sansregular'; src: url("../fonts/opensans-regular-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }

.wrap:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* ------------------------------------- Reset css -------------------------------------------- */
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset { border: none; }

input[type="submit"], button { cursor: pointer; }

input[type='submit']::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

table { border-spacing: 0; border-collapse: collapse; }

* { -webkit-text-size-adjust: none; }

/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
body { color: #000; font-weight: normal; font-style: normal; font-family: 'open_sanslight', Arial, sans-serif; font-size: 14px; line-height: 1.3; background: #f3f2f2; }

a { color: #355e8d; }
a:hover { border-bottom: 0; }

.wrapper { overflow: hidden; }

/* ------------------------------------ //END Main styles --------------------------------------- */
/* ----------------------------------------- Header --------------------------------------------- */
.header { position: relative; margin: 13px 10px; height: 56px; background: #fff; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 1000; }

/* -------------------------------------- END Header --------------------------------------------- */
.map { position: fixed; top: 0; right: 0; bottom: 0; left: 0; }
