@import "base";
/* ------------------------------------- Reset css -------------------------------------------- */

/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video { 
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body, html {
    height: 100%
}
img,fieldset {border:none;}
input[type="submit"], button {cursor:pointer;}
input[type='submit']::-moz-focus-inner{padding:0;border:0}
textarea {overflow: auto;}
input, button {
    margin: 0;
    padding: 0;
    border: 0;
}
input, textarea, select,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none;
}
ul,ol {
    list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
    display: block; 
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
*{-webkit-text-size-adjust: none; }
/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
body{
    color: #000;
    @include osl;
    font-size: 14px;
    line-height: 1.3;
    background: #f3f2f2;
}
a{
    color: #355e8d;
}
.wrapper {
    overflow: hidden;
}
.wrap {
    @extend %clr;
}
.l-layout {
    position: relative;
    z-index: 1000;
    background: #fff;
    padding: 0;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: 0;
}
.push {
    clear: both;
    height: 0;
}
.index {
    .l-layout {
        background: none;
        position: static;
    }  
}
/* ------------------------------------ //END Main styles --------------------------------------- */
 
/* ----------------------------------------- Header --------------------------------------------- */
.header {
    position: relative;
    z-index: 2000;
    padding-top: 13px;
    @include respond-to(iphone) {
        padding-top: 5px;
    }
} 
.header__wrap {
    margin: 0 10px;
    height: 56px;
    line-height: 56px;
    background: #fff;
    @extend %clr;
    @include box-sizing(border-box);
    @include box-shadow(0 0 17px rgba(0,0,0,.6));
    @include respond-to(iphone) {
        height: 40px;
        line-height: 40px;
        margin: 0 5px;
    }
}
.header__title {
    padding-left: 1%;
    float: left;
    @include osl;
    font-size: 22px;
    @include respond-to(mob-wide) {
        font-size: 16px;
        padding-left: 3%;
    }
    @include respond-to(iphone) {
        font-size: 14px;
        padding-left: 3%;
    }
    @include respond-to(mob) {
        font-size: 16px;
        padding-left: 3%;
    }
    color: #b23622;
    @include box-sizing(border-box);
    text-transform: uppercase;
}
.header__nav {
    float: right;
    @extend %clr;
}
.location,
.search,
.nav,
.lang {
    float: left;
    width: 55px;
    height: 56px;
    text-align: center;
    border-left: 1px solid #939393;
    @include box-sizing(border-box);
    @include respond-to(iphone) {
        height: 40px;
        width: 40px;
    }
    @include respond-to(mob) {
        width: 30px;
    }
    i {
        display: inline-block;
        vertical-align: middle;
    }
}
.location {
    border: 0;
    i {
        @include sized-sprite($icons, gps);
        @include respond-to(iphone) {
            @include sized-sprite($icons, gps-s);
        }
    }
}

.search {
    i {
        @include sized-sprite($icons, glass);
        @include respond-to(iphone) {
            @include sized-sprite($icons, glass-s);
        }
    }
}
.search-form {
    display: none;
    position: relative; 
    margin: 0 115px 0 5px;
    padding-top: 2px;
    @include respond-to(iphone) {
        margin-right: 80px;
    }
    @include respond-to(mob) {
        margin-right: 70px;
    }
}
.search-form_active {
    display: block;
}
.hidden {
    display: none;
}
.search__text {
    padding: 0 44px 0 10px;
    height: 43px;
    width: 100%;
    color: #4e4e4e;
    font-size: 20px;
    font-family: Arial;
    border: 1px solid #bebfbf;
    @include box-sizing(border-box);
    @include respond-to(iphone) {
        padding: 0 30px 0 5px;
        height: 30px;
        font-size: 16px;
    }
    @include respond-to(mob) {
        height: 33px;
    }
    &:focus {
        @include box-shadow(inset 0 0 5px rgba(186,186,186,.75));
    }
}
.search__submit {
    position: absolute;
    right: 4px;
    top: 14px;
    @include sized-sprite($icons, glass-gray);
    @extend %hide-text;
    @include respond-to(iphone) {
        top: 11px;
        @include sized-sprite($icons, glass-gray-s);
    }
}

.search__list {
    position: absolute;
    top: 49px;
    left: 0;
    padding: 12px 10px;
    width: 420px;
    border: 1px solid #aaabab;
    font-size: 14px;
    background: #fff;
    text-align: left;
    line-height: 1.5;
    @include box-sizing(border-box);
    li { 
        margin-bottom: 10px;
    }
    span {
        font: normal 11px Arial;
        color: #606060;
    }
    strong {
        color: #c20e16;
        font-weight: normal;
    }
}

.nav {
    i {
        position: relative;
        @include sized-sprite($icons, nav); 
        @include respond-to(iphone) {
            @include sized-sprite($icons, nav-s);
        }
    }
    .drop-list {
        width: 425px;
        right: -58px;
        @include respond-to(iphone) {
            width: 400px;
            right: -50px;
        }
        @include respond-to(mob) {
            width: 310px;
            right: -43px;
        }
        a{
            display: block;
        }
    } 
    li {
        a{
            position: relative;
        }
        a:after {
            position: absolute;
            content:' ';
            top: 50%;
            right: 14px;
            margin-top: -10px;
            @include sized-sprite($icons, arr); 
        }
    }
}
.nav.js-active {
    i {
        @include sized-sprite($icons, nav-act); 
        @include respond-to(iphone) {
            @include sized-sprite($icons, nav-s-act);
        }
    }
}
.lang { 
    i {
        position: relative;
    }
    .ua-act {
        @include sized-sprite($icons, ua);
        @include respond-to(iphone) {
            @include sized-sprite($icons, ua-s);
        }
    }
    .rus-act-act {
        @include sized-sprite($icons, rus);
        @include respond-to(iphone) {
            @include sized-sprite($icons, rus-s);
        }
    }
    .eng-act-act {
        @include sized-sprite($icons, eng);
        @include respond-to(iphone) {
            @include sized-sprite($icons, eng-s);
        }
    }
    .drop-list {
        display: none;
        width: 208px;
        right: -12px;
        @include respond-to(iphone) {
            width: 158px;
            right: -8px;
        }
        &:before {
            top: -16px;
            right: 10px;
            @include sized-sprite($icons, corner);
                //top: -16px;
                right: 1px; 
            }
        }
    }
    li {
        &:after {
            top: 50%;
            margin-top: -10px;
            @include respond-to(iphone) {
                margin-top: -6px;
            }
        }
    }
    .ua {
        &:after {
            @include sized-sprite($icons, ua);
            @include respond-to(iphone) {
            @include sized-sprite($icons, ua);
            }
        }
    }
    .rus {
        &:after {
            @include sized-sprite($icons, ru);
            @include respond-to(iphone) {
            @include sized-sprite($icons, rus);
            }
        }
    }
    .eng {
        &:after {
            @include sized-sprite($icons, en);
            @include respond-to(iphone) {
            @include sized-sprite($icons, eng);
            }
        }
    }
}
.lang_active {
    @include background-image(linear-gradient(#ec624e, #841d0d));
}
.is-active{
    @include background-image(linear-gradient(#ec624e, #841d0d));
}
    

/* -------------------------------------- END Header --------------------------------------------- */

/* ------------------------------------------ Blocks --------------------------------------------- */
.drop-list {
    display: none;
    position: absolute;
    top: 59px;
    z-index: 2000;
    background: #fff; 
    @include box-sizing(border-box);
    @include box-shadow(0 0 15px rgba(0,0,0,.6));
    @include respond-to(iphone) {
        top: 45px;
    }
    &:before {
        content: ""; 
        position: absolute;
        top: -16px;
        right: 51px;
        @include respond-to(iphone) {
            top: -12px;
            right: 41px;
        }
        @include respond-to(mob) {
            top: -12px;
            right: 34px;
        }
        @include sized-sprite($icons, corner); 
    }
    li {
        position: relative;
        padding-left: 20px;
        text-align: left;
        height: 47px;
        line-height: 47px;
        color: #ce422d;
        font-size: 14px;
        border-top: 1px solid #939393;
        text-shadow: 0 -1px 0 rgba(0,0,0,.75);
        font-style: normal;
        @include respond-to(iphone) {
            height: 40px;
            line-height: 40px;
            padding-left: 10px;
        }
        &:first-child {
            border: 0;
        }
        &:after {
            content: "";
            position: absolute;
            right: 15px;
            @include respond-to(iphone) {
                right: 8px;
            }
        }
        i {
            float: right; 
            margin-top: 14px;
        }
    }
    a {
        color: #ce422d;
        font-size: 18px;
        text-decoration: none;
        text-shadow: 0 -1px 0 rgba(0,0,0,.75);
        @include respond-to(iphone) {
            font-size: 14px;
        }
    }
} 

// main block styles
.main {
    position: relative;
    z-index: 1000;
    padding: 22px 25px;
    @include respond-to(iphone) {
        padding: 12px 15px;
    }
}
.title-l-1 {
    padding-bottom: 8px;
    font-size: 30px;
}
.title-l-2 {
    padding: 0 0 8px 40px;
    font-size: 24px;
    line-height: 1.1;   
    @include respond-to(iphone) {
        font-size: 20px;
    }
}
.title-l-1,
.title-l-2 {
    position: relative;
    @include osl;
    color: #797979;
    border-bottom: 1px solid #000;
    .prev {
        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        @include sized-sprite($icons, arr2);
    }
    .close {
        position: absolute;
        right: 15px;
        top: -4px;
        @include respond-to (iphone) {
            right: 0;
            top: 4px;
        }
    }
}
.catalog {
    li {
        position: relative;
        line-height: 49px;
        color: #303030;
        font-size: 16px;
        cursor: pointer;
        border-bottom: 1px solid #d3d2d2;
        @include respond-to (iphone) {
            line-height: 40px;
        }
    }
    a {
        display: block;
        color: #303030;
        text-decoration: none;
    }
    .extend {
        font-weight: bold;
        &:after {
            content: "";
            position: absolute;
            right: 15px;
            top: 0;
            margin-top: 15px;
            @include sized-sprite($icons, plus);
            @include respond-to (iphone) {
                top: -5px;
            }
        }
    }
    .extend_active {
        &:after {
            margin-top: 24px;
            @include sized-sprite($icons, minus);
        }
    }
    ul {
        display: none;
        margin-bottom: -1px;
        li {
            height: 49px;
            padding: 0 5px 0 29px;
            font-weight: normal;
            background: #f5f4f4;
            @include respond-to (iphone) {
                line-height: 40px;
                height: 40px;
            }
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: 15px;
                margin-top: -10px;
                @include sized-sprite($icons, arr);
            }
        }
    }
}

.catalog-place {
    li {
        padding: 17px 0;
        border-bottom: 1px solid #d1d1d1;
        @include respond-to (iphone) {
            padding: 8px 0;
        }
    }
    a {
        position: relative;
        display: block;
        color: #8a8a8a;
        text-decoration: none;
        font-size: 12px;
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 15px;
            margin-top: -10px;
            @include sized-sprite($icons, arr);
        }
    }
    strong{
        display: block;
        margin-bottom: 2px;
        color: #3e3e3e;
        font-size: 16px;    
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 90%;
        overflow: hidden;  
    }
}
.close {
    display: inline-block;
    cursor: pointer;
    @include sized-sprite($icons, close);
    @include respond-to (iphone){
    @include sized-sprite($icons, close);
    }
}

.place {
    position: relative;
    z-index: 1000;
    background: #fff;
    padding: 25px 10px 0;
    margin: 10px;
    @include respond-to (iphone){
        padding: 15px 10px 0;
        margin: 5px;
    }
    .img {
        position: relative;
        overflow: hidden;
        height: 250px;
        background: #fff;
        img {
            width: 100%;
        }
        ul {
            position: absolute;
            bottom: 6px;
            left: 49px;
            @extend %clr;
            background: #fff;
            @include respond-to (iphone){
                left: 0px;
            }
        }
        li {
            position: relative;
            float: left;
            height: 47px;
            line-height: 47px;
            border-right: 1px solid #ababab;
            @include respond-to (iphone){
                width: 65%;
                height: 40px;
                line-height: 40px;
                &.about_link{
                   width: 34%;
                }
            }
            &:last-child {
                border: 0;
            }
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: 11px;
                margin-top: -10px;
                @include sized-sprite($icons, arr);
            }
            a {
                display: block;
                padding: 0 48px 0 15px;
                font-size: 16px;
                color: #b23622;
                text-decoration: none;
            }
        }
    }
    .title-l-2 {
        padding: 0 60px 17px;
        border: 0;
        @include respond-to (iphone){
            padding: 4px 30px 17px;
        }
        a {
            left: 15px;
            @include respond-to (iphone){
               left: 5px;
        }
        }
    }
}
.content {
    padding: 10px 20px 20px;
    font: normal 14px Arial, sans-serif;
    line-height: 1.4;
    border-bottom: 3px solid #b23622;
    @include respond-to (iphone){
        padding: 10px 5px 10px;
        font: normal 12px Arial, sans-serif;
    }  
}

.catalog-street {
    .title-l-1 {
        padding-left: 27px;
        .prev {
            top: 7px;
            right: 0;
        }
    }
}

.title-l-1_letters {
    border-bottom: 0;
}
.letters {
    @extend %clr;
    border-top: 1px solid #545454;
    li {
        float: left;
        margin-right: -1px;
        width: 87px;
        height: 85px;
        line-height: 85px;
        text-align: center;
        @include box-sizing(border-box);
        border: 1px solid #dbdbdb;
        border-top: 0;
    }
    a {
        display: block;
        text-decoration: none;
        font-size: 36px;
        @include osl;
        text-transform: uppercase;
        color: #303030;
    }
}

.about {
    position: absolute;
    top: 93px;
    margin: 0 10px;
    z-index: 1000;
    background: #fff;
    border-bottom: 3px solid #0f2d00;
    @include box-shadow(0 0 17px rgba(0,0,0,.6));
    &:before {
        content: ""; 
        position: absolute;
        top: -24px;
        right: 0;
        top: -16px;
        right: 75px;
        @include sized-sprite($icons, corner); 
    }
}
.about__body {
    padding: 20px;
    font: normal 16px/1.4 Arial, sans-serif;
}
.about__footer {
    padding: 10px 28px 40px;
    background: #f7f7f7;
}
.support {
    margin-bottom: 2px;
    padding-bottom: 24px;
    @extend %clr;
    border-bottom: 1px solid #8e8e8e;
    @include box-shadow(0 1px 0 #fff);
}
.support__title {
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
    text-align: center;
}
.logo {
    width: 124px;
    height: 115px;
    line-height: 112px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccd5c7;
    @include border-radius(5px);
    i {
        display: inline-block;
        vertical-align: middle;
    }
}
.logo_map {
    float: left;
    margin-left: 50px;
    i {
        @include sized-sprite($icons, logo-map);
    }
}
.logo_ik {
    float: right;
    margin-right: 50px;
    i {
        @include sized-sprite($icons, logo);
    }
}
.wifi {
    text-align: center;
    i, div {
        display: inline-block;
        vertical-align: middle;
    }
    strong {
        display: block; 
    }
    i {
        @include sized-sprite($icons, wifi);
    }
}

// Map style
.map {
    position: fixed;
    top: 0;
    right: 0; 
    bottom: 0;
    left: 0;
}
/* ---------------------------------------- END Blocks ------------------------------------------- */



